.box {
  position: relative;	
  height: 400px;
  padding: 20px;
  color: #fff;
  background: skyblue;
}

.margin-top-80 {
  margin-top: 80px;
}
.box1 {
  height: 500px;
  padding: 20px;
  color: #fff;
  background: skyblue;
}
.box2 {
  height: 200px;
  padding: 20px;
  color: #fff;
  background: skyblue;
}
.top-left {
  position: absolute;
  top: -2px;
  left: 16px;
}